body
{
    background-color: black;
}
h1
{
    background-color: rebeccapurple;
}
#p1
{
    background-color: red;
}
h2
{
    background-color: aqua;
}
#p2
{
    background-color: brown;
}
#l1
{
    color: orange;
}
#l2
{
    color: forestgreen;
}
#l3
{
    color:purple;
}
#l4
{
    color:tomato;
}


